
#nav ul{
list-style-type: none;	
margin: 0
	
}
#nav ul li{
	float: left;
	font-family: "微软雅黑";
    text-align:center;
    Width:100px;
}
/*去掉下划线 默认字体颜色*/
#nav ul li a {


text-decoration:none; color:#ffffff;
}
/*当鼠标移上a元素时，文字颜色#FFFFFF（白色）；背景颜色：#DC143C（红色）；*/
#nav ul li a:hover {

display:block; color:#ff8000; background:#DC143C;

        }